linux-*.tar
linux-*.tar.gz.UNTRUSTED
linux-*.tar.xz.UNTRUSTED
linux-*.sign
WireGuard-*.tar
WireGuard-*.tar.xz.UNTRUSTED
WireGuard-*.tar.asc
wireguard-*.tar
wireguard-*.tar.xz.UNTRUSTED
wireguard-*.tar.asc
kernel-*/
config-base-*
linux-keyring.gpg
wireguard-keyring.gpg
pkgs
